*{
    padding: 0;
    margin: 0;
}

#hero img{
 height: 9rem;   
 width: 9rem;
}

#hero{
    height: 100vh;
    
}

#hero h1{
    font-size:500% !important;
}

#portfolio h1{
    font-size: 500% !important;
}

#portfolio img{
   border-radius: 2%;
}

#about h1{
     font-size: 500% !important;
}

#contact h1{
     font-size: 490% !important;
}

#contact input,textarea{
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

#upper ico{
    height:5rem !important;
    width: 5rem !important;
    font-size: large;
}


@media screen and (max-width:426px) {
    #hero{
    height: 100%;
    
}

#hero h1{
    font-size:3rem !important;
}

#portfolio h1{
    font-size: 3rem !important;
}

#about h1{
     font-size: 3rem !important;
}

#contact h1{
     font-size: 3rem !important;
}

#contact input,textarea{
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

}